*{
    margin:0;
    padding:0;
   
    
    
}

header{
    height:120px;
    width:100%;
    position: fixed;
    z-index: 11;
    background-color: #F8F8F8;
}
.menu{
    display:flex;
    width: 86%;
    align-items: center;
    height:120px;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
   
    z-index: 100;
    position: fixed;
    
    
}
.menu-logo{
    display:flex;
    gap:15px;
    align-items: center;
    width:31%;
    
}

.menu-logo>img{
    height:inherit;
}
.logo-text{
   
    
  
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    
    background: linear-gradient(90.68deg, #000000 6.35%, #002243 67.64%, #00264B 74.75%, #002952 80.52%, #002B57 84.96%, #002C59 86.74%, #003060 91.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    
    text-shadow: 0px 1px 40px rgba(1, 27, 54, 0.31);
   
    font-family: 'Montserrat', sans-serif;
}

.home:hover{
    text-decoration-color: rgb(66, 66, 66);
    
     text-underline-offset: 7px;
   
    text-decoration-thickness: 1px;
    border-bottom: 1px solid rgb(66, 66, 66);
    
}
.menu-elements{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:30%;

}
.menu-elements>a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.menu-elements>a:hover{
    color: #002243;
}
footer{
    width:100%;
     
    height: auto;
}
.footer-wrapper{
    width:86%;
    padding-left: 7%;
    padding-right: 7%;
 }
.footer-hr{
    height: 0px;
    border-top: 3px solid #000000;
}
.footer-item{
    display:flex;
    flex-direction: column;
     
}
.footer-text{
    padding-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    background: linear-gradient(90.68deg, #000000 6.35%, #002243 67.64%, #00264B 74.75%, #002952 80.52%, #002B57 84.96%, #002C59 86.74%, #003060 91.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    

    text-shadow: 0px 0.5px 40px rgba(1, 27, 54, 0.28);
}
.icons{
    align-items: center;
    padding-top: 30px;
    display:flex;
   gap:30px;
    justify-content: center; 
}
.wk-icon{
    width: 31.54px;
    height: 23.88px;        
    
    filter: drop-shadow(0px 1px 20px rgba(200, 83, 15, 0.51));
}
.tg-icon{
    width: 26.38px;
    height: 23.88px;
    filter: drop-shadow(0px 1px 20px rgba(200, 83, 15, 0.51));
  
   
}
.insta-icon{
    width: 26.38px;
    height: 23.88px;
filter: drop-shadow(0px 1px 20px rgba(200, 83, 15, 0.51));
}
.icon-line{
    width: 58px;
    height: 0px;

   border-top: 3px solid #000000;
}
.copyright>p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
text-align: center;

color: #000000;

}
.copyright>p:nth-child(1){
    padding-top: 30px;
}
.copyright{
    padding-bottom: 40px;
}

.section1{
    width:100%;
    padding-top: 120px;
    height:auto;
    background: url(images/hero-background2.png);
}
.section1-item{
    width:86%;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 85px;
}
.text-name{
    padding-top: 80px;
}
.text-name>a{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 829;
    font-size: 50px;
    line-height: 61px;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.text-name>div:nth-child(2){
    margin-top: 13px;
    width:133px;
    height: 0px;
    border-top: 3px solid #000000;
    padding-bottom: 22px;
 }
 .text-name>div:nth-child(3){
    width:97px;
    border-top: 3px solid #000000;
    padding-bottom: 85px;
 }
 .essay-image-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
 }
 .essay-image-flex>p{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 37px;
    line-height: 33px;
    color: #000000;
    padding-bottom: 25px;
 }
 
.essay{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-indent: 40px;
    color: #000000;
    padding-bottom: 45px;
 }
.essay-image{
    padding-bottom: 45px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


@media(min-width: 1440px){
    .menu{
        width: 61%;
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 19.5%;
        margin-right: 19.5%;
    }
    .footer-wrapper{
        padding-left: 0%;
        padding-right: 0%;
        margin-right: 0%;
        margin-left: 0%;
        width:100%;
    }
    .section1{
        background: url(images/hero-background1920.jpg);
    }
    .section1-item{
        width:61%;
        margin-left: 0%;
        margin-right: 0%;
        margin-left:19.5%;
        margin-right:19.5% ;
  
    }
}